<div class="headercolor">
  <img src="assets/img/gift.png" class="icon-right" on-click="openGift()" />
  <a on-click="contactUs()">
    <ion-icon name="call" class="icon-contactUs"></ion-icon>
  </a>
  <img src="assets/img/logo_white.png" class="logo" />
</div>
<ion-content class="menu">
  <ion-scroll dir="rtl" scrollX="true"
    style="display: contents; width:90%;height:220px;margin-left:auto;margin-right:auto;">
    <ion-row nowrap class="headerChip">
      <div *ngFor="let item of MenuList">
        <div (click)="SelectCategory(item.id)" class="cadrmenu">
          <div class="row">
            <div class="elementinCadrmenu" col-12>
              <img class="imgelementmenu" style="width: 40px;height: 40px; border-radius: 50%;"
                [src]="item.image ? baseUrl+item.image : 'assets/img/default_store.png'" />
              <span>{{item.name}}</span>
            </div>
          </div>
        </div>
      </div>
    </ion-row>
  </ion-scroll>
</ion-content>

<ion-content class="contentstore" dir="rtl">
  <div class="cadrs" *ngFor="let list of Lists;let k=index;">
    <hr *ngIf="k != 0" class="style14">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="title">{{list.listTitle}}
          <h6 *ngIf="isStoreList(list) && list.hasMoreBranches" on-click="showList(list)" col-12
            style="width: 100px;margin-left: 20px; float: left;">
            <button class="morestore">فروشگاه‌های بیشتر</button>
          </h6>
        </ion-card-title>

      </ion-card-header>
      <ion-card-content>
        <ion-scroll *ngIf="isStoreList(list);else mall_filter" scrollX="true" style="width:90%; height:230px;">
          <ion-row nowrap class="headerChip">
            <div *ngFor="let item of getList(k);let f=index;">
              <div class="cadr">
                <div on-click="storeclick(item)">
                  <div class=" cartbadge">
                    <div class="checkout-price">
                      <span>{{item.returnPoint}} ووپ</span>
                    </div>
                  </div>
                  <div class="row" dir="rtl">
                  </div>
                  <div class="row">
                    <div class="elementinCadr" col-12>
                      <img class="imgelement" class="storeimage"
                        [src]="item.logoSrc ? baseUrl+item.logoSrc : 'assets/img/default_store.png'" />
                    </div>
                  </div>
                  <div class="row">
                    <h6 class="elementinCadrtext" col-12>
                      {{ item.storeName }}
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </ion-row>
        </ion-scroll>

      </ion-card-content>
    </ion-card>
  </div>
  <div class="row" style=" margin-bottom: 120px">
  </div>
  <!-- <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
</ion-content>