page-main-tab {
        background-color:#F7F6FB !important;
        ion-card{
            background: #FFFFFF !important;
            font-family:Irsansans !important;
        }
        ion-card-header{
            padding-top: 0px !important;
            padding-bottom: 0px !important;
        }
    
        .title{
            font-family: Iransans !important;
        }
.logo{
    width:20%!important;
    height:auto !important;
    position: absolute; 
    margin: 20px; 
    }
    .icon-right{
        width:5%!important;
        height:auto !important;
        position: absolute; 
        direction: rtl; 
        position: absolute; 
        margin: 20px;
        margin-top: 30px;
        margin-left: 90%;
        }
    .label-ios {
        margin: 2px 2px 2px 0;
    }
    .alert-ios .alert-message:empty {
        padding: 0 0 0px;
    }
    

    .cadr{
        height: 200px;
        min-width: 150px;
        margin-left: 2px;
        margin-right: 2px;
        border: 1px solid rgb(168, 168, 168);
        border-radius: 5px; 
        box-shadow: 1px 1px 0.5px rgb(192, 192, 192);
    }
    .elementinCadr{
        text-align: center !important;
    }
    .imgelement{
        margin-left: auto;margin-right: auto;display: block;width: 66px;height: 66px;
        margin-top: 20px !important;
        margin-bottom: 20px !important;
    }
    .returnPointCadr{
        text-align: center;
        border: 1px;
        padding: 3px;
        background-color:#7AE09F; 
        border-radius: 5px; 
    };
    .morestore{
        border: 1px;
        background-color:#7AE09F; 
        border-radius: 5px; 
    }
    
    .searchbar-ios .searchbar-input {
        background-color: #ffffff !important;
    };
    
    .headerChipGray{
        ion-chip.chip.chip-md{
            margin: 2px 2px 2px 2px;
            border-radius: 10px;
            border: 1px solid gray;
            background: white;
        }
        ion-chip.chip.chip-ios{
            margin: 2px 2px 2px 2px;
            border-radius: 10px;
            border: 1px solid gray;
            background: white;
        }
    }
    
    .headerChipGreen{
    
        ion-chip.chip.chip-md{
            margin: 2px 2px 2px 2px;
            border-radius: 10px;
            background: white;
            color: #A80C50;
            border: 1px solid #A80C50;
        }
    
        ion-chip.chip.chip-ios{
            margin: 2px 2px 2px 2px;
            border-radius: 10px;
            background: white;
            color: #A80C50;
            border: 1px solid #A80C50;
        }
    }
    }
    
    
