page-tabs-controller {
  ion-icon {
    &[class*="custom-"] {
      margin: 0 5px 0 0;
      vertical-align: middle;
      $sz: 50px;
      width: $sz;
      height: $sz;
    } // custom icons
    &[class*="pin"][ng-reflect-is-active="true"] {
      background: url("../assets/img/fab_bg.png") no-repeat 50% 50%;
      background-size: 30px;
    } //in case of active
    &[class*="pin"][ng-reflect-is-active="false"] {
      background: url("../assets/img/fab_bg.png") no-repeat 50% 50%;
      background-size: 30px;
    } //in case of inactive
  }
  ion-icon {
    &[class*="cart-"] {
      margin: 0 5px 0 0;
      vertical-align: middle;
      $sz: 50px;
      width: $sz;
      height: $sz;
    } // custom icons
    &[class*="pinn"][ng-reflect-is-active="true"] {
      background: url("../assets/img/homeac.svg") no-repeat 50% 50%;
      background-size: 25px;
    } //in case of active
    &[class*="pinn"][ng-reflect-is-active="false"] {
      background: url("../assets/img/home.svg") no-repeat 50% 50%;
      background-size: 25px;
    } //in case of inactive
  }
  ion-icon {
    &[class*="search-"] {
      margin: 0 5px 0 0;
      vertical-align: middle;
      $sz: 50px;
      width: $sz;
      height: $sz;
    } // custom icons
    &[class*="pinsearch"][ng-reflect-is-active="true"] {
      background: url("../assets/img/searchac.svg") no-repeat 50% 50%;
      background-size: 25px;
    } //in case of active
    &[class*="pinsearch"][ng-reflect-is-active="false"] {
      background: url("../assets/img/search.svg") no-repeat 50% 50%;
      background-size: 25px;
    } //in case of inactive
  }
  ion-icon {
    &[class*="bookmark-"] {
      margin: 0 5px 0 0;
      vertical-align: middle;
      $sz: 50px;
      width: $sz;
      height: $sz;
    } // custom icons
    &[class*="pinbookmark"][ng-reflect-is-active="true"] {
      background: url("../assets/img/bookmarkac.svg") no-repeat 50% 50%;
      background-size: 25px;
    } //in case of active
    &[class*="pinbookmark"][ng-reflect-is-active="false"] {
      background: url("../assets/img/bookmark.svg") no-repeat 50% 50%;
      background-size: 25px;
    } //in case of inactive
  }
  ion-icon {
    &[class*="person-"] {
      margin: 0 5px 0 0;
      vertical-align: middle;
      $sz: 50px;
      width: $sz;
      height: $sz;
    } // custom icons
    &[class*="pinperson"][ng-reflect-is-active="true"] {
      background: url("../assets/img/personac.svg") no-repeat 50% 50%;
      background-size: 25px;
    } //in case of active
    &[class*="pinperson"][ng-reflect-is-active="false"] {
      background: url("../assets/img/person.svg") no-repeat 50% 50%;
      background-size: 25px;
    } //in case of inactive
  }
  .tabs-md .tabbar {
    background: #f8f8f8;
    height: 35px !important;
  }
}
