page-pay {

}
.item-md.item-block .item-inner {
    padding-right: 8px;
    border-bottom: none !important;
}
.item-ios.item-block .item-inner {
    padding-right: 0;
    padding-right: 0;
    border-bottom: none;
}
@media only screen and  (min-width: 992px) {
    .price{
    width: 100% !important; height: 32% !important;

}
.arrow{
    margin-right: 40% !important;
    font-size: 25px;
}
}

@media only screen and  (max-width: 768px) {
    .img1{
    margin-top: -65px !important;
}
}
.toggle-ios .toggle-icon::before {
    background-color: rgba(196, 192, 192, 0.658);
    border-color: rgba(196, 192, 192, 0.658);
  
}
.toggle-ios .toggle-icon {
    background-color: #E6E6E6;
}
.toggle-md .toggle-icon {
    background-color: rgba(196, 192, 192, 0.658);
    border-color: rgba(196, 192, 192, 0.658);
    height: 20px;
}
.toggle-md .toggle-inner {
    top :0;
}
.cahhid{
    display: none;
}
