.post{
    background-color: white !important;
    color:#8100fa !important;
    top: 150px;
};
.like{
    color: red;
    };
.container {
    width: 100%;
    height: 400px;
    position: relative;
  }
.image {
    position: absolute;
    left: 0;
    bottom: 0;
  }
.icoon {
    text-align: center;
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 100px;
    font-weight: bold;
    left: 20%;
    right: 20%;
    top: 40%;
    bottom: 40%;
  }