.page-post {
background-color: white !important;
color:#8100fa !important;
 
}
.like{
    color: red;
    };
.but{
    background-color: white;
    border-radius: 3px;
    border: 2px solid #8100fa; 
    color: #8100fa;
    padding: 6px;
    margin: 0px;
    float: right;
    margin-right: 0px;
    position: initial;
}
