store-page {

}
.platform-ios ion-list {
    margin-top: 90px !important;
}
.myalert{
    background:#F7F6FB !important;
}
.myalert h3{
  color: red
  // display: none;
}
.myalertsub {
  background-color: #000000
  // display: none;
  // display: block;
}
.alert-head {
    background-color: #F7F6FB;
  }
  .alert-message {
    font-size: 10px;
  }
  .alert-title{
      color: #000000 !important;
      direction: rtl;
    font-size: 14px !important;
    
  }
  .alert-input-group{
      direction: rtl;
    background:#F7F6FB !important;
  }
  .alert-input {
      text-align: right;
  }
  .alert-button-group{
    //   background-image: url("assets/img/accept_button.png") !important;
    background:#F7F6FB !important;
  }
  .alert-input:focus {
    color: #000000 !important;
  }
  .alert-wrapper{
      border-radius: 10px !important;
  }
  .alert-ios .alert-button {
    color: #7ae09f;
  }    
  .alert-ios .alert-message{
    background:#F7F6FB !important;
  }
  .alert-input {
      border-bottom: 1px solid #7ae09f !important;
  }

  .stegment{
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.288);
    border: 0px;
  }

  .toolbar-background-md {
    background: none;
  }

  [col-4] {
    padding: 0px;
}

[col-12] {
  padding: 0px; 
}

.topScroll{
  margin-top: 0px;
  position :fixed;
  top:0%;
  width: 100%;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  z-index: 1000;
}
.modal1 {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  z-index: 1000;
}

@media only screen and (max-width: 700px){
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius:20px; 
  }
  
}
@media only screen and (min-width: 701px){
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 25%;
  border-radius:20px; 
}
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -11px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}