page-TransactionHistory {
    ion-header {
        .toolbar {
          position: absolute;
      
          .toolbar-background {
            background: transparent;
          }
          .toolbar-title {
            color: white;
          }
        }
      }
    .header{
        background: #FF000000;
    }

    .item-md.item-block .item-inner{
        border-bottom: none !important;
        box-shadow: none !important;
    }
  
      ion-item{
          background: transparent !important;
          width: 200px !important;
          height: 40px !important;
          padding: 0px !important;
          color: black !important;
          margin-left:auto !important;
          margin-right:auto !important;
          // background-image: url('../../assets/img/gift_input.png') !important;
          //   background-repeat: no-repeat !important;
          //   background-size: 200px 50px !important;
        }
        .card{
          background-color: #ffffff;
          height: 55px;
          text-align: center;
          margin-top: 25px;
          border-bottom-left-radius:0px;
          border-bottom-right-radius:0px;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          z-index: 100;
          
        }
        .subcard{
          margin-top: -12px;
          padding-top: 0px;
          background-color: #ffffff;
          height: 85px;
          text-align: center;
          border-bottom-left-radius:5px;
          border-bottom-right-radius:5px;
          border-top-left-radius: 0px;
          border-top-right-radius: 0px;
          position: relative;
          z-index: -100;
          background-color: #eee
          
        }
        ion-card img {
         width: 35px;
      }
      .show{
        visibility: visible;
      }
      .showi{
        display:none;
        visibility: hidden;
      }
    }
